body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    color:#222;
    margin:0;
    padding:20px;
}

h1{
    text-align:center;
    color:#003366;
}

h2{
    color:#004c99;
}

button{
    background:#003366;
    color:white;
    border:none;
    border-radius:8px;
    padding:10px 15px;
    margin:5px;
    cursor:pointer;
}

button:hover{
    background:#0055aa;
}

#busqueda{
    width:100%;
    max-width:400px;
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
    margin-bottom:15px;
}

.libro{
    background:white;
    padding:10px;
    margin:5px 0;
    border-radius:8px;
    border-left:4px solid #003366;
    cursor:pointer;
}

.libro:hover{
    background:#e8f1ff;
}

#contenido{
    margin-top:20px;
}
